header {
    background-image: url(../img/pattern.png);
    background-color: #87cefa;
    background-repeat: repeat-x;
    background-size: 380px;
}

.logo {
    font-weight: bolder;
    width: 150px;
    margin-top: 50px;
}

.titolo {
    font-size: 900;
    font-weight:bolder;
    color: black;
}

.scritto-da {
    font-size: medium;
    color:grey;
}

.autore {
    font-weight: bold;
    color:#87cefa;
}

.data {
    font-size: small;
    color:grey;
}

.descrizioni-foto {
    font-size:smaller;
}

.importante {
    background-color: yellow;
}

.intestazione-tabella {
    background-color: #87cefa;
}

.titoletti-tabella {
    color:aliceblue;
}